#curtain-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    border-right: 2px solid white;
}

#curtain-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    border-left: 2px solid white;
}

#start-image {
    position: fixed;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes shrinkImage {
    to {
        width: 0;
    }
}

.shrink {
    animation-name: shrinkImage;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}